* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
 
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-auto-flow: dense;
    grid-gap: 3px ;
}
.container img {
    width: 100%;
    height: 100%;
}
.container :nth-child(2n+2) {
    grid-column: span 2;
}
.container :nth-child(3n+3) {
    grid-row: span 2;
}
.container :nth-child(5n+5) {
    grid-column: span 2;
    grid-row: span 2;
}
